/*header*/
header {
  width: 100%;
  padding: 10px 15px;
  background-color: transparent;
  float: left;
  position: absolute;
  top:0;
  left:0;
  a.main-logo {
    display: block;
    padding: 5px 0 0 0;
    width: 60%;
    float: left;
    @media(min-width:768px){
      padding:0;
      width: $headlogowidth;
    }
    img {
      width: 100%;
    }
  }
  &.dark{
    background-color: $black;
  }
  button.nav-button{
    float: right;
    border:0px;
    background-color: transparent;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    &:focus{
      outline:0;
    }
    @media(min-width:768px){
      display:none;
    }
    i.fa{
      color: $white;
      font-size:40px;
    }
  }
  nav.main-nav{
    display:none;
    position: absolute;
    top:100%;
    left:0;
    width:100%;
    height:700px;
    background-color: $black;
    z-index:1000;
    @media(min-width:768px){
      display: block;
      position: relative;
      top:auto;
      left:auto;
    width:calc(100% - #{$headlogowidth});
    float: right;
      background-color: transparent;
      margin-top:15px;
    }
    @media(min-width:992px){
      width:calc(90% - #{$headlogowidth});
    }
    ul{
      display: block;
      width:100%;
      padding:0;
      margin:0;
      @media(min-width:768px) {
      display: table;
      width: 100%;
    }
      li{
        display: list-item;
        width:100%;
        list-style-type:none;
        padding:0;
        margin:0;
        @media(min-width:768px) {
          display: table-cell;
          text-align: center;
          width:auto;
          padding: 0;
          margin: 0;
        }
        a{
          @include montserrat-regular;
          text-transform: uppercase;
          display: inline-block;
          width:100%;
          padding:30px;
          border-top:1px solid #c4c4c3;
          text-align: center;
          color: #FFF;
          font-size:20px;
          @media(min-width:768px) {
            @include montserrat-regular;
            text-transform: uppercase;
            width:auto;
            border-top:0px;
            color: #FFF;
            letter-spacing: 1px;
            padding: 5px;
            line-height: 1;
            vertical-align: middle;
            border-bottom:2px solid transparent;
            font-size:12px;
          }
          @media(min-width:992px) {
            font-size:16px;
          }
          &:hover{
            text-decoration: none;
            @media(min-width:768px) {
              border-bottom: 2px solid #FFF;
            }
          }

          &.active{
            @media(min-width:768px) {
              border-bottom: 2px solid #FFF;
            }
          }
        }
      }
    }
  }
}