/*global*/
h1{
  @include montserrat-bold;

}
h2{
  @include montserrat-bold;
}
h3{
  @include montserrat-bold;
}
p{
  @include montserrat-regular;
}
a{
  @include montserrat-regular;
  &:hover{
    text-decoration: none;
  }
}
li{
  @include montserrat-regular;
}

main{
}
section{
  &.hero-image{
    padding-top:100px;
    height:800px;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
    text-align: center;
    padding-top:500px;
    h1{
      color: $white;
      font-size:100px;
    }
  }
}