/*global*/
h1{
  @include montserrat-bold;
  color: $blue;
}
h2{
  @include montserrat-bold;
  //font-size:60px;
  font-size: 4rem;
  color:$blue;
}
h3{
  @include montserrat-bold;
  color:$blue;
}
p{
  @include montserrat-regular;
  //font-size:24px;
  font-size: 1.5rem;
  color:$blue;
}
a{
  @include montserrat-regular;
  transition:all .5s ease;
  &:hover{
    text-decoration: none;
  }
}
li{
  @include montserrat-regular;
}
.rc-btn{
  display: inline-block;
  text-align: center;
  padding:15px 15px;
  border:1px solid $white;
  color: $white;
  background-color: $blue;
  text-transform: uppercase;
  line-height:1;
  &:hover,&:focus &:active{
    border:1px solid $blue;
    color: $blue;
    background-color:$white;
  }
}
.rc-btn-big{
  display: inline-block;
  text-align: center;
  padding:15px 40px;
  border:1px solid $white;
  color: $blue;
  background-color: $white;
  text-transform: uppercase;
  line-height:1;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  font-size:24px;
  &:hover,&:focus &:active{
    border:1px solid $white;
    color: $white;
    background-color:$blue;
  }
}
main{
}
section{
  &.hero-image{
    padding-top:100px;
    height:800px;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
    text-align: center;
    padding-top:500px;
    h1{
      color: $white;
      font-size:100px;
    }
  }
}
.background-blue{
  background-color: $blue;
  h1, h2,h3, h4, h5, p{
    color: $white;
  }
}
