/*global*/
main{
}
section{
  &.hero-image{
    padding-top:100px;
    height:800px;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
  }
}