/*variables*/
/*Fonts*/
@import url("https://fonts.googleapis.com/css?family=Montserrat");
/*font mixins*/
/*Sizing variables*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
GLOBAL STYLES

TOC
- HIGH LEVEL STYLES & RESETS
- TEXT
  --H1-H4
  --p
  --a
  --li
- EXTENSIONS OF BOOTSTRAP CLASSES
- CUSTOM HELPER CLASSES
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #20b0e4; }

/*/////////////////////////////////////////////////////////
    text styles
/////////////////////////////////////////////////////////*/
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #20b0e4;
  padding-bottom: .25em;
  text-align: center;
  text-transform: uppercase; }

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: #20b0e4;
  padding-bottom: .25em;
  text-align: center; }

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #20b0e4;
  padding-bottom: .25em;
  text-align: center; }

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #20b0e4; }

a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  transition: all .5s ease; }
  a:hover {
    text-decoration: none; }

li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; }

/*/////////////////////////////////////////////////////////
    extensions of bootstrap classes 
/////////////////////////////////////////////////////////*/
.input-group {
  margin: 5px auto;
  border-radius: 5px; }

/*/////////////////////////////////////////////////////////
    extensions of bootstrap classes 
/////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////
    helper classes 
/////////////////////////////////////////////////////////*/
.rc-btn {
  display: inline-block;
  text-align: center;
  padding: 15px 15px;
  margin: 5px;
  border: 1px solid #FFF;
  color: #FFF;
  background-color: #20b0e4;
  text-transform: uppercase;
  line-height: 1; }
  .rc-btn:hover, .rc-btn:focus .rc-btn:active {
    border: 1px solid #20b0e4;
    color: #20b0e4;
    background-color: #FFF; }

.rc-btn-big {
  display: inline-block;
  text-align: center;
  padding: 15px 40px;
  margin: 5px;
  border: 1px solid #FFF;
  color: #20b0e4;
  background-color: #FFF;
  text-transform: uppercase;
  line-height: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 24px; }
  .rc-btn-big.outline-blue {
    border: 2px solid #20b0e4; }
    .rc-btn-big.outline-blue:hover, .rc-btn-big.outline-blue:focus .rc-btn-big.outline-blue:active {
      border: 2px solid #20b0e4;
      color: #FFF;
      background-color: #20b0e4; }
  .rc-btn-big:hover, .rc-btn-big:focus .rc-btn-big:active {
    border: 1px solid #FFF;
    color: #FFF;
    background-color: #20b0e4; }

.rc-btn-blue {
  border: 1px solid #20b0e4;
  color: #FFF;
  background-color: #20b0e4; }
  .rc-btn-blue:hover, .rc-btn-blue:focus .rc-btn-blue:active {
    border: 1px solid #20b0e4;
    color: #20b0e4;
    background-color: #FFF; }

.background-blue {
  background-color: #20b0e4; }
  .background-blue h1, .background-blue h2, .background-blue h3, .background-blue h4, .background-blue h5, .background-blue p {
    color: #FFF; }

.background-white {
  background-color: #ebf2fa; }

.rc-h2-big {
  color: #565656;
  font-size: 5rem; }

.block {
  display: block;
  margin-top: 0; }

/*header*/
header {
  width: 100%;
  padding: 10px 15px;
  background-color: transparent;
  float: left;
  position: absolute;
  top: 0;
  left: 0; }
  header a.main-logo {
    display: block;
    padding: 5px 0 0 0;
    width: 60%;
    float: left; }
    @media (min-width: 768px) {
      header a.main-logo {
        padding: 0;
        width: 255px; } }
    header a.main-logo img {
      width: 100%; }
  header.dark {
    background-color: #000; }
  header button.nav-button {
    float: right;
    border: 0px;
    background-color: transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px; }
    header button.nav-button:focus {
      outline: 0; }
    @media (min-width: 768px) {
      header button.nav-button {
        display: none; } }
    header button.nav-button i.fa {
      color: #FFF;
      font-size: 40px; }
  header nav.main-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 700px;
    background-color: #000;
    z-index: 1; }
    @media (min-width: 768px) {
      header nav.main-nav {
        display: block;
        position: relative;
        top: auto;
        left: auto;
        width: calc(100% - 255px);
        float: right;
        background-color: transparent;
        margin-top: 15px; } }
    header nav.main-nav ul {
      display: block;
      width: 100%;
      padding: 0;
      margin: 0; }
      @media (min-width: 768px) {
        header nav.main-nav ul {
          display: table;
          width: 100%; } }
      header nav.main-nav ul li {
        display: list-item;
        width: 100%;
        list-style-type: none;
        padding: 0;
        margin: 0; }
        @media (min-width: 768px) {
          header nav.main-nav ul li {
            display: table-cell;
            text-align: center;
            width: auto;
            padding: 0;
            margin: 0; } }
        header nav.main-nav ul li a {
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          text-transform: uppercase;
          display: inline-block;
          width: 100%;
          padding: 15px;
          border-top: 1px solid #c4c4c3;
          color: #FFF;
          font-size: 16px; }
          @media (min-width: 768px) {
            header nav.main-nav ul li a {
              font-family: 'Montserrat', sans-serif;
              font-weight: 400;
              text-transform: uppercase;
              width: auto;
              border-top: 0px;
              color: #FFF;
              letter-spacing: 1px;
              padding: 5px;
              line-height: 1;
              vertical-align: middle;
              border-bottom: 2px solid transparent; } }
          header nav.main-nav ul li a:hover {
            text-decoration: none; }
            @media (min-width: 768px) {
              header nav.main-nav ul li a:hover {
                border-bottom: 2px solid #FFF; } }
          @media (min-width: 768px) {
            header nav.main-nav ul li a.active {
              border-bottom: 2px solid #FFF; } }

footer {
  background-color: #000;
  width: 100%;
  width: auto;
  padding-top: 35px; }
  footer h3 {
    font-weight: 400;
    font-size: 30px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    marin-top: 80px; }
  footer p {
    color: #FFF;
    font-size: 18px;
    display: inline-block;
    margin: 20px 40px 20px 0; }
  footer .footer-bottom {
    margin-top: 60px; }
    footer .footer-bottom a {
      color: #FFF; }
  footer a.backtop {
    color: #FFF;
    display: block;
    padding-right: 40px;
    width: 100%;
    text-align: right;
    font-size: 30px; }
  footer ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
    footer ul li {
      padding: 0;
      margin: 0; }
      footer ul li a {
        color: #FFF;
        text-decoration: none;
        font-size: 30px;
        text-transform: uppercase;
        padding: 15px 0; }
        footer ul li a:hover {
          color: #20b0e4; }
    footer ul.social {
      text-align: center;
      width: 100%;
      display: block; }
      footer ul.social li {
        display: inline-block;
        width: auto;
        padding: 0 15px;
        text-align: center; }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++ 
MAIN CONTENT AREA

TOC
- general main styles >applies to all pages
- product page specific
- blog page specific
 +++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*/////////////////////////////////////////////////////////
		end main content area styles 
/////////////////////////////////////////////////////////*/
main section {
  padding: 15px 0 30px; }
  main section.hero-image {
    height: 500px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding-top: 300px; }
    @media (min-width: 768px) {
      main section.hero-image {
        padding-top: 100px;
        height: 800px;
        padding-top: 500px; } }
    main section.hero-image h1 {
      color: #FFF;
      font-size: 40px;
      margin: 0;
      padding: 0; }
      @media (min-width: 768px) {
        main section.hero-image h1 {
          font-size: 100px; } }
    main section.hero-image h3 {
      color: #20b0e4;
      font-size: 25px;
      text-transform: lowercase;
      margin: 0; }
      @media (min-width: 768px) {
        main section.hero-image h3 {
          font-size: 35px; } }

/*///////////////////////////////////////////////////////// 
		end main content area styles 
/////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////
home page styles
//////////////////////////////////////*/
.home .hero-image h3 {
  margin-bottom: 40px; }
.home h2 {
  font-size: 24px; }
  @media (min-width: 768px) {
    .home h2 {
      font-size: 35px; } }

.brand-group {
  display: block;
  text-align: center;
  width: 100%; }
  .brand-group .brand-logos {
    display: inline-block;
    padding: 15px;
    text-align: center; }
    .brand-group .brand-logos.target img {
      height: 100px;
      width: auto; }
    .brand-group .brand-logos.walmart img {
      height: 54px;
      width: auto; }
    .brand-group .brand-logos img {
      vertical-align: bottom;
      max-width: 100%; }

.testimonial {
  text-align: center; }
  .testimonial h2 {
    display: inline-block;
    font-size: 70px;
    text-transform: uppercase;
    position: relative;
    padding: 0 15px;
    background-color: #20b0e4;
    z-index: 1;
    margin-top: 50px;
    margin-bottom: 50px; }
    .testimonial h2:after {
      content: '';
      border-top: 4px solid white;
      position: absolute;
      width: 90%;
      left: 5%;
      right: 95%;
      top: 50%;
      z-index: 0; }
  .testimonial h3 {
    font-size: 60px; }

.product-image-row {
  padding: 100px 0;
  align-items: center; }
  @media (min-width: 768px) {
    .product-image-row {
      display: flex;
      flex-direction: row; } }

.reviews {
  text-align: center;
  padding-bottom: 200px; }
  .reviews h2 {
    margin: 100px 0 100px 0;
    display: inline-block;
    text-transform: uppercase;
    font-size: 50px; }
    @media (min-width: 768px) {
      .reviews h2 {
        font-size: 70px; } }

#testimonial-slider .item {
  text-align: center; }
  #testimonial-slider .item img {
    height: auto;
    width: auto;
    display: inline-block; }
    @media (min-width: 768px) {
      #testimonial-slider .item img {
        height: 500px; } }
#testimonial-slider ol {
  position: relative;
  margin-top: 80px;
  width: 100%;
  margin-left: 0;
  left: 0; }
  #testimonial-slider ol li {
    border: 3px solid #FFF;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 60px;
    height: 60px;
    background-color: #20b0e4;
    margin: 0 5px; }
    @media (min-width: 768px) {
      #testimonial-slider ol li {
        margin: 0 25px; } }
    #testimonial-slider ol li.active {
      background-color: #FFF;
      margin: 0 5px; }
      @media (min-width: 768px) {
        #testimonial-slider ol li.active {
          margin: 0 25px; } }

/*////////////////////////////////////////////
end home page styles
//////////////////////////////////////*/
/*/////////////////////////////////////////////////////////
		product page specific styles
/////////////////////////////////////////////////////////*/
.product .intro {
  padding: 100px 0; }
  .product .intro h2 {
    margin-bottom: 75px;
    font-size: 40px; }
    @media (min-width: 768px) {
      .product .intro h2 {
        font-size: 60px; } }
  .product .intro p {
    font-size: 24px; }
.product .product-image {
  margin-top: 75px; }
.product .features {
  padding: 100px 0; }
  .product .features h2 {
    margin-bottom: 50px;
    font-size: 40px; }
    @media (min-width: 768px) {
      .product .features h2 {
        font-size: 60px; } }
  .product .features p {
    float: left;
    margin-bottom: 50px; }
    @media (min-width: 768px) {
      .product .features p {
        padding: 0 45px; } }

.icon {
  box-sizing: border-box;
  min-height: 100px;
  display: block;
  width: 20%;
  height: auto;
  margin: 15px 0 60px;
  float: left;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: contain;
  transition: .5s;
  cursor: pointer; }

#wireless {
  background-image: url(../images/icons/wireless-icon.png); }
  #wireless:hover, #wireless:focus #wireless:active {
    background-image: url(../images/icons/wireless-hover-icon.png); }

#waterproof {
  background-image: url(../images/icons/waterproof-icon.png); }
  #waterproof:hover, #waterproof:focus #waterproof:active {
    background-image: url(../images/icons/waterproof-hover-icon.png); }

#zoom {
  background-image: url(../images/icons/zoom-icon.png); }
  #zoom:hover, #zoom:focus #zoom:active {
    background-image: url(../images/icons/zoom-hover-icon.png); }

#music {
  background-image: url(../images/icons/music-icon.png); }
  #music:hover, #music:focus #music:active {
    background-image: url(../images/icons/music-hover-icon.png); }

#battery {
  background-image: url(../images/icons/battery-icon.png); }
  #battery:hover, #battery:focus #battery:active {
    background-image: url(../images/icons/battery-hover-icon.png); }

.feature-text {
  display: block; }
  @media (min-width: 768px) {
    .feature-text {
      display: none; } }

h4.hover-instruct {
  text-align: center;
  float: left;
  display: none; }
  @media (min-width: 768px) {
    h4.hover-instruct {
      display: block;
      width: 100%; } }

/*/////////////////////////////////////////////////////////
		end product page specific styles
/////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////
		 about page specific styles
/////////////////////////////////////////////////////////*/
.about .mission {
  padding: 80px 0 100px; }
  .about .mission h2 {
    font-size: 60px; }
.about .bios {
  padding: 100px 0; }
  .about .bios h2 {
    font-size: 60px; }
  .about .bios .bio-card {
    margin-top: 100px;
    text-align: center; }
    .about .bios .bio-card img {
      display: inline-block;
      width: 60%;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
    .about .bios .bio-card h3 {
      font-size: 24px; }
    .about .bios .bio-card h4 {
      font-size: 18px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400; }

/*/////////////////////////////////////////////////////////
		end about page specific styles
/////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////
		blog page specific styles
/////////////////////////////////////////////////////////*/
article {
  padding-top: 15px;
  margin-bottom: 15px; }
  article h4 {
    color: #000; }
  article p {
    color: #000;
    font-size: 1.25rem;
    margin-top: 5px; }

.blog-body, .blog-aside {
  margin-top: 50px; }

/*/////////////////////////////////////////////////////////
		end blog page specific styles
/////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////
		get started page specific styles
/////////////////////////////////////////////////////////*/
.getstarted .started {
  padding: 100px 0; }
  .getstarted .started h2 {
    padding: 40px; }
.getstarted .question h2 {
  font-size: 100px;
  color: #000; }
.getstarted .question h3 {
  font-size: 48px;
  margin-bottom: 25px; }
.getstarted .question .rc-btn-big {
  font-size: 43px;
  border-width: 2px; }
  .getstarted .question .rc-btn-big:hover {
    border-width: 2px; }

/*/////////////////////////////////////////////////////////
		end get started page specific styles
/////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////
		support page specific styles
/////////////////////////////////////////////////////////*/
.support-page h2 {
  font-size: 100px; }
.support-page h3 {
  font-size: 48px; }
.support-page .support-blocks {
  padding-top: 100px; }
.support-page .background-blue.block {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 80px 40px;
  text-align: center; }
  .support-page .background-blue.block h4 {
    font-size: 43px; }

/*/////////////////////////////////////////////////////////
		end get started page specific styles
/////////////////////////////////////////////////////////*/

/*# sourceMappingURL=style.css.map */
