/*variables*/
/*Fonts*/
@import url("https://fonts.googleapis.com/css?family=Montserrat");
/*font mixins*/
/*Sizing variables*/
/*global*/
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #20b0e4; }

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: #20b0e4; }

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #20b0e4; }

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #20b0e4; }

a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  transition: all .5s ease; }
  a:hover {
    text-decoration: none; }

li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; }

.rc-btn {
  display: inline-block;
  text-align: center;
  padding: 15px 15px;
  border: 1px solid #FFF;
  color: #FFF;
  background-color: #20b0e4;
  text-transform: uppercase;
  line-height: 1; }
  .rc-btn:hover, .rc-btn:focus .rc-btn:active {
    border: 1px solid #20b0e4;
    color: #20b0e4;
    background-color: #FFF; }

.rc-btn-big {
  display: inline-block;
  text-align: center;
  padding: 15px 40px;
  border: 1px solid #FFF;
  color: #20b0e4;
  background-color: #FFF;
  text-transform: uppercase;
  line-height: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 24px; }
  .rc-btn-big:hover, .rc-btn-big:focus .rc-btn-big:active {
    border: 1px solid #FFF;
    color: #FFF;
    background-color: #20b0e4; }

section.hero-image {
  padding-top: 100px;
  height: 800px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding-top: 500px; }
  section.hero-image h1 {
    color: #FFF;
    font-size: 100px; }

.background-blue {
  background-color: #20b0e4; }
  .background-blue h1, .background-blue h2, .background-blue h3, .background-blue h4, .background-blue h5, .background-blue p {
    color: #FFF; }

/*header*/
header {
  width: 100%;
  padding: 10px 15px;
  background-color: transparent;
  float: left;
  position: absolute;
  top: 0;
  left: 0; }
  header a.main-logo {
    display: block;
    padding: 0px;
    width: 50%;
    float: left; }
    @media (min-width: 768px) {
      header a.main-logo {
        width: 255px; } }
    header a.main-logo img {
      width: 100%; }
  header button.nav-button {
    float: right;
    border: 0px;
    background-color: transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px; }
    header button.nav-button:focus {
      outline: 0; }
    @media (min-width: 768px) {
      header button.nav-button {
        display: none; } }
    header button.nav-button i.fa {
      color: #FFF;
      font-size: 40px; }
  header nav.main-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
    @media (min-width: 768px) {
      header nav.main-nav {
        display: block;
        position: relative;
        top: auto;
        left: auto;
        width: calc(100% - 255px);
        float: right;
        background-color: transparent;
        margin-top: 15px; } }
    header nav.main-nav ul {
      display: block;
      width: 100%;
      padding: 0;
      margin: 0; }
      @media (min-width: 768px) {
        header nav.main-nav ul {
          display: table;
          width: 100%; } }
      header nav.main-nav ul li {
        display: list-item;
        width: 100%;
        list-style-type: none;
        padding: 0;
        margin: 0; }
        @media (min-width: 768px) {
          header nav.main-nav ul li {
            display: table-cell;
            text-align: center;
            width: auto;
            padding: 0;
            margin: 0; } }
        header nav.main-nav ul li a {
          display: inline-block;
          width: 100%;
          padding: 15px;
          border-top: 1px solid #c4c4c3;
          color: #FFF;
          font-size: 16px; }
          @media (min-width: 768px) {
            header nav.main-nav ul li a {
              font-family: 'Montserrat', sans-serif;
              font-weight: 400;
              text-transform: uppercase;
              width: auto;
              border-top: 0px;
              color: #FFF;
              letter-spacing: 1px;
              padding: 5px;
              line-height: 1;
              vertical-align: middle;
              border-bottom: 2px solid transparent; } }
          header nav.main-nav ul li a:hover {
            text-decoration: none; }
            @media (min-width: 768px) {
              header nav.main-nav ul li a:hover {
                border-bottom: 2px solid #FFF; } }
          @media (min-width: 768px) {
            header nav.main-nav ul li a.active {
              border-bottom: 2px solid #FFF; } }

footer {
  background-color: #000;
  width: 100%;
  width: auto;
  padding-top: 35px; }
  footer h3 {
    font-weight: 400;
    font-size: 30px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    marin-top: 80px; }
  footer p {
    color: #FFF;
    font-size: 18px;
    display: inline-block;
    margin: 20px 40px 20px 0; }
  footer .footer-bottom {
    margin-top: 60px; }
    footer .footer-bottom a {
      color: #FFF; }
  footer a.backtop {
    color: #FFF;
    display: block;
    width: 100%;
    text-align: right;
    font-size: 30px; }
  footer ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
    footer ul li {
      padding: 0;
      margin: 0; }
      footer ul li a {
        color: #FFF;
        text-decoration: none;
        font-size: 30px;
        text-transform: uppercase;
        padding: 15px 0; }
        footer ul li a:hover {
          color: #20b0e4; }
    footer ul.social {
      text-align: center;
      width: 100%;
      display: table; }
      footer ul.social li {
        display: table-cell;
        width: auto;
        text-align: center; }

/*styles for main content area

*/
/*product page specific*/
.icon {
  width: 20%;
  height: auto;
  background-color: orange;
  background-image: url(1.jpg);
  transition: .5s; }

/*# sourceMappingURL=style.css.map */
